body{
    background-image: url("hatter.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-size: 20px;
}
#indexcím{
    text-align: center;
}


.hatter{
    background: rgba(0, 0, 0, 0.50);
    margin: 80px;
}
#cim{
    margin-top: 70px;
    text-align: center;
    
}
.szoveg{
    text-align: left;
    margin-right: 200px;
}

.head ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    
}
.head li {
    float: left;
}
.head li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.head li a:hover {
    background-color: #111;
}
.head .active{
    background-color: darkturquoise;
    color: black;
}
.head .active:hover{
    background-color: rgb(4, 234, 238);
}
.gyartmanykep{
    float: left;
    max-width: 150px;
    margin-bottom: 100px;
}

.proceszorfelsorolas{
    text-align: end;
}
.kapcsolat a{
    text-decoration: none;
    color: white;
}
span{
    color:rgb(4, 234, 238);
}
.gyartmany a{
   color: darkturquoise;
   font-size: 30px; 
}
.gyartmany a:hover, .gyartmany a:active{
    color: purple;
}