body{
    background-image: url("hatter.jpg");
    background-repeat: no-repeat;
}
.alap{
    max-width: 1024px;
    background-image: url("fatyol.png");
    margin: auto;
}
#indexcím{
    text-align: center;
}
a::placeholder{
 background-color: white;
}
a{
    background-color: black;
}