body{
    background-image: url("hatter.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}


#indexcím{
    text-align: center;
}
a::placeholder{
 background-color: white;
}
a{
    background-color: black;
}
#hatter{
    background: rgba(0, 0, 0, 0.50);
}
#cim{
    text-align: center;
    text-decoration: dotted;
    text-decoration-line: underline;
}
.szoveg{
    text-align: left;
    margin-right: 400px;
}